[Unit]
Description=Mail server
StartLimitIntervalSec=90
StartLimitBurst=2

[Service]
Type=simple
ExecStartPre=/bin/cp /etc/credentials/mail.users /var/lib/mail-data/users-descr
ExecStart=/usr/bin/docker run --rm -v /var/lib/mail-data:/data -v /root/mail-certifs:/root/.lego -v /etc/bind/named.conf.keys:/root/bind.keys:ro --ip 172.17.0.2 -h mail.nightmared.fr --env-file /etc/credentials/mail2.env --name immutable_bastard localhost/opensmtpd
ExecStop=/usr/bin/docker stop -t 0 immutable_bastard
User=root
Restart=always

[Install]
WantedBy=multi-user.target
