[Unit]
Description=Mail server
StartLimitIntervalSec=90
StartLimitBurst=2

[Service]
Type=simple
ExecStartPre=/bin/cp /SOMEWHERE/mail-users /SOMEWHERE/mail-data/users-descr
ExecStart=/usr/bin/docker run --rm -v /SOMEWHERE/mail-data:/data -v /SOMEWHERE/mail-certifs:/SOMEWHERE/.acme.sh --network host -h mail.MYTLD --env-file /SOMEWHERE/mail-env --name immutable_bastard opensmtpd
ExecStop=/usr/bin/docker stop -t 0 immutable_bastard
Restart=always

[Install]
WantedBy=multi-user.target
